{% extends 'base.html.twig' %}

{% block body %}
    <h1>La gestion de tâches est meilleure quand elle est visuelle<br/>
    Gérer vos projets et tâches en toute facilité<br/>
        Suivre le travail de votre projet.</h1>
    <a href="{{ path('users_index') }}"><h1>Demarer</h1></a>
{% endblock %}
